<body style="background-color: {{farbe}}">

  <div class="todos">
    {{#todos}}
      <div class="item">
        <a href="/todos/{{id}}">{{name}}</a>
      </div>
    {{/todos}}
  </div>

  <form action="/setcolor" method="post">
    Name: <input type="color" name="farbe">
    <input type="submit" value="OK">
  </form>

</body>